/* 
	Legacy Mobi (v6 + v7)
	
	Consistent with an unstyled document 
	rendered in Kindle Previewer 2.94.	
												*/
										
body {
	font-family: {KindleRenderer.getDefaultFont};	/* Educated guess. */
	line-height: {KindleRenderer.getLineHeight};	/* Educated guess. Default = 1.75 */
	word-wrap: break-word;
}

p {
	margin-top: 0px;
	margin-bottom: 0px; 
	text-indent:2em;
}

.was-a-p {
	margin-top: 0px; 
	margin-bottom: 0px; 
	text-indent:2em;
} 

hr {
	margin-top: 15px; 
	margin-bottom: 15px;
}

/* 	At this point, the margin reset for headings, tables, blockquotes, 
	etc. is beyond comprehension. Why degrade vertical rhythm so much?
	Or maybe they have chosen this nuclear option in order to deal with 
	manual paragraph jumps and margins? (cf. Word files from self-pubs)  	*/
            
center,dd,div,dl,dt,li,ol,pre,table,ul,hr,h1,h2,h3,h4,h5,h6 {
	margin-top: 0px; 
	margin-bottom: 0px;
} 

blockquote {
	text-indent: 0px; 
	margin-top: 0px; 
	margin-bottom: 0px;
} 

ul {
	list-style-type: disc;
} 

ol, ul, li .was-a-p {
	text-indent: 0;
} 

table.amazon-table-style-0 {
	border-collapse:collapse;
	font-size: inherit;
} 

table.amazon-table-style-0 tr td {
	border:none; 
	padding:1px;
} 

table.amazon-table-style-0 tr th {
	border:none; 
	padding:1px; 
	text-align:justify;
} 

table.amazon-table-style-1 {
	border-collapse:collapse; 
	font-size: inherit;
} 

table.amazon-table-style-1 tr td {
	border:1px solid black; 
	padding:1px;
} 

table.amazon-table-style-1 tr th {
	border:1px solid black; 
	padding:1px; 
	text-align:justify;
}

/* 	Educated guess for images, computed on the fly (KindleGen?),
	based on use of width and height attributes in source file 		*/

img.fixedWidths {
	width: {value};
}

img.fixedHeights {
	height: {value};
}

img.widths {
	width: auto;
}

img.heights {
	height: auto;
}